<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="navbar navbar-expand-sm navbar-dark nv-color navbar-lewagon fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand font-weight-bolder" href="/">
          <%= image_tag "popcorn-icon.png", style: "width: 45px" %> La Movie
          <%# <img src="popcorn-icon.png" /> %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/lists">Mis listas</a>
            <a class="nav-link" href="/lists/new">Nueva Lista</a>
            <a class="nav-link" href="/movies">Biblioteca</a>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
